* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    margin-top: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/* ----- Logo ----- */
header > img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}

/* ----- Barra de menu ----- */
nav {
    background-color: rgb(59, 65, 49);
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    
}

nav li {
    display: inline-block;
    padding: 20px 100px;
}

nav a {
    text-decoration: none;
    color: #edefee;
    letter-spacing: 0.1rem;
}

nav a:hover {
    font-weight: bold;
    color: rgb(234, 255, 0);
    letter-spacing: 0.2rem;

}

/* ----- Heading ----- */
.presentation {
    background-image: url(LL.assets/bowl.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    margin: 4%;
    text-align: justify;
    height: 250px;
    justify-content: center;
    border-radius: 5px;
}

.presentation h1 {
    font-family: 'Markazi Text';
    font-size: 3rem;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 0;
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(62, 64, 64, 0.507);
    animation: disappear 3s 0.5s both infinite;
}
@keyframes disappear {
    50% {
      text-shadow: 0 0 5rem white;
    }
    to {
      text-shadow: 0 0 2rem white;
      opacity: 0;
    }
  }


.presentation p {
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    padding: 0.5% 3.5% 1.5% 3.5%;
}

/* ----- Main Section / Cards ----- */

section {
    display: flex;
    height: 800px;
    margin: 4%;
    justify-content: space-between;
    gap: 3%;
}

.card {
    width: 440px;
}

.card:hover {
    box-shadow: 1rem 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 450px;
    margin: 0;
}

.card-body p {
    font-size: 14px;
    margin: 5% 2% 9% 2%;
    

    color: black;
    height: 200px;
    text-align: justify;
}

.btn {
    float: right;
    margin-right: 3%;
}


/* ----- Footer ----- */

footer {
    position: absolute;
    display: flex;
    height: 70px;
    background-color: rgb(59, 65, 49);
    margin-bottom: 0%;
    width: 100%;
    
}

div > img {
    height: 40px;
    margin-left: 82%;
    margin-top: 2%;
}

div > p {
    margin-top: 3.5%;
    margin-left: -12%;
    color: #edefee;
    letter-spacing: 0.1rem;
}

footer div {
    flex: 1;
}


